{% load staticfiles %}
{% load markdown_deux_tags %}
<html>
  <head>
        <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />
  </head>

  <body>
     <ul class="header_bar">
        <li class="title"><a href="/RedditApp/">Home</a></li>
        <li>        <form  class="search-form" name="LoginForm" action="/RedditApp/search/" method="post">
        {% csrf_token %}
            <div id="search_label">
                <label  for="username">Search</label>
            </div>    
            <div id="search_bar">
                <input type="text" id="search" name="searchtext"  placeholder="Enter key word">
            </div>
            <div id="search_btn">
                <button type="submit" class="btn">Go</button>
            </div>
        </form>
</li>
        <li class="dropdown"><a href="#" class="dropbtn">{{user}}</a><div class="dropdown-content">
        {% if user.is_active %}
          <a href="/RedditApp/logout">Logout</a>
        {% else %}
          <a href="/RedditApp/login">Login </a>
        {% endif %}
          <a href="/RedditApp/signup">Sign Up</a>
          <a href="/RedditApp/submit">New Thread</a>

        </div></li>
     </ul>
    <div class="content">
    {% block main %}
    {% endblock %}
    </div>
  </body>
</html>
