{% load staticfiles %}
{% load markdown_deux_tags %}
<html>
  <head>
        <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>
     <ul class="header_bar">
        <li class="title"><a href="/RedditApp/">Home</a></li>
        <li class="dropdown"><a href="#" class="dropbtn">{{user}}</a><div class="dropdown-content">
        <a href="/RedditApp/signup">Sign Up</a>
        {% if user.is_active %}
        <a href="/RedditApp/submit">New Thread</a>
          <a href="/RedditApp/logout">Logout</a>
        {% else %}
          <a href="/RedditApp/login">Login </a>
        {% endif %}
          
          

        </div></li>
        <li class="dropdown" id="box" ><form  class="search-form" name="LoginForm" action="/RedditApp/search/" method="post">
        {% csrf_token %}  
            <div class="search_bar">
                <input type="text" id="search" name="searchtext"  placeholder="Enter key word">
            </div>
        </form>
</li>
     </ul>
    <div class="content">
    {% block main %}
    {% endblock %}
    </div>
  </body>
</html>
