{% extends 'base.html' %}

{% block main %}

    <div id="edit_post" class="submit_form">
        <form class="form-horizontal" name="LoginForm" action="" method="post">
        {% csrf_token %}
        <h2>Edit Comment</h2>
        <div class="comment_holder">
          <textarea  name="text" cols="60" rows="8" placeholder="text">{{comment.comment_body}}</textarea>
        </div>
        <input type="hidden" name="comment_id" value={{comment.id}}>
        <button type="submit" class="btn_custom">Make changes</button>


        </form>
    </div>
{% endblock %}