{% extends 'base.html' %}
{% block main %}

    <div id="edit_post" class="submit_form">
        <h2>Edit Thread</h2>
        <form class="form-horizontal" name="LoginForm" action="" method="post">
        {% csrf_token %}
          Title
          <div>          
          <textarea name="title" cols="60" rows="5" placeholder="title">{{post.post_heading}}</textarea>
          </div>
        <br>
        Text
        <div class="text">
          <textarea name="text" cols="60" rows="8" placeholder="text">{{post.post_body}}</textarea>
        </div>
        <input type="hidden" name="post_id" value={{post.id}}>

        <button type="submit" class="btn_custom">Make changes</button>

        </form>
    </div>
{% endblock %}