{% extends 'base.html' %}

{% block main %}
{% load markdown_deux_tags %}


{% if latest_post_list %}
    {% for post in latest_post_list %}
    <div class="flpost">
        <div class="postname">
        	<p class="postname-content">
        		<a href="/RedditApp/posts/{{ post.id }}/">{{ post.post_heading | markdown }}</a>
        	</p>
        </div>
        <div class="subtitle">
        	<p class="postdetails">
        		Author:<a href="/RedditApp/user/{{post.author.id}}/">{{post.author.get_username}}</a>&nbsp;&nbsp;&nbsp;Published: {{post.pub_date}}&nbsp;&nbsp;&nbsp;Upvotes:{{post.post_votes}}&nbsp;&nbsp;&nbsp;
                <a href="/RedditApp/posts/{{ post.id }}/">comments({{post.comment_set.count}})</a>
        	</p>
        </div>
    </div>
    {% endfor %}
{% else %}
    <p>No posts are available.</p>
{% endif %}
{% endblock %}
