{% extends 'base.html' %}


{% block main %}
    <div id="login" class="login-page">
     <div class="form">
        <form  class="login-form" name="LoginForm" action="RedditApp/login/" method="post">
        {% csrf_token %}
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
        {% endif %}
        <div ><div class="error">{{login_error}}</div>
            <label  for="username">Username</label>
            <div >
                <input type="text" id="username" name="username"  placeholder="Username">
            </div>
        </div>
        <div >
            <label  for="password">Password</label>
            <div>
                <input type="password" name="password" id="password" placeholder="Password">
            </div>
        </div>
        <div >
            <div >
                <button type="submit" class="btn">Login</button>
            </div>
        </div>
              <p class="message">Not registered? <a href="/RedditApp/signup">Create an account</a></p>
        </form>
        </div>
    </div>

<br>
{% endblock %}