{% extends 'base.html' %}
{% block main %}
{% load markdown_deux_tags %}

{% if post %}
   <div class="flpost">
        <div class="postname">
            <p class="postname-content">
                <a href="/RedditApp/posts/{{ post.id }}/">{{ post.post_heading | markdown}}</a>

                {% if post.author = user %}
                 <div id="edit_post">
                         <form class="form-horizontal" name="LoginForm" action="/RedditApp/edit_post/" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="post_id" value={{post.id}}>
                         <button type="submit" class="btn">Edit</button>
                        </form>
                </div>  
                {% endif %}                 


            </p>
        </div>
        <div class="subtitle">
            <p class="postdetails">
                Author:&nbsp;<a href="/RedditApp/user/{{post.author.id}}/">{{post.author.get_username}}</a>
                &nbsp;&nbsp;&nbsp;&nbsp;Published: &nbsp;{{post.pub_date}}&nbsp;&nbsp;&nbsp;&nbsp;Upvotes:&nbsp;{{post.post_votes}}&nbsp;&nbsp;&nbsp;&nbsp;comments({{post.comment_set.count}})
                    </div>
         <div id="upvote_post" class="vote">
        <form class="form-horizontal" name="LoginForm" action="/RedditApp/upvote_post/" method="post">
        {% csrf_token %}
        <input type="hidden" name="post_id" value={{post.id}}>
        <button type="submit" class="btn">Upvote</button>
        </form>
    </div>
     <div id="downvote_post" class="vote">
        <form class="form-horizontal" name="LoginForm" action="/RedditApp/downvote_post/" method="post">
        {% csrf_token %}
        <input type="hidden" name="post_id" value={{post.id}}>
        <button type="submit" class="btn">Downvote</button>
        </form>
    </div>

            </p>
        </div>
    </div>
<div class="sub_post">
<div class="post_descrip">
<div><h4>Description</h4>
<p class="post_descrip">{{post.post_body|markdown}}</p>
{% else %}
    <p>No posts available</p>
{% endif %}
</div>
{% if post.author = user %}
   <div id="edit_post">
        <form class="form-horizontal" name="LoginForm" action="/RedditApp/edit_post/" method="post">
        {% csrf_token %}
        <input type="hidden" name="post_id" value={{post.id}}>
        <button type="submit" class="btn">Edit</button>
        </form>
    </div>   
{% endif %}


<h4 class="comment_heading">Comments:</h4>
{% if comment %}
    {% for c in comment %}
    <div class="post_descrip">
        <p class="username"><a href="/RedditApp/user/{{c.author.id}}/">{{c.author.get_username}}</a>: &nbsp;&nbsp;&nbsp;&nbsp; Upvotes: {{c.comment_votes}}</p>

        <div id="upvote_post" class="vote">
        <form id="upvote_comment" class="vote" name="LoginForm" action="/RedditApp/upvote_comment/" method="post">
        {% csrf_token %}
        <input type="hidden" name="comment_id" value={{c.id}}>
        <button type="submit" class="btn">Upvote</button>
        </form>
        </div>
        <div id="downvote_post" class="vote">
        <form id="downvote_post" class="vote" name="LoginForm" action="/RedditApp/downvote_comment/" method="post">
        {% csrf_token %}
        <input type="hidden" name="comment_id" value={{c.id}}>
        <button type="submit" class="btn">Downvote</button>
        </form>
        </div>
        <p class="postcomment">{{c.comment_body|markdown}}</p>
        {% if c.author = user %}
        <div id="edit_comment">
            <form class="form-horizontal" name="LoginForm" action="/RedditApp/edit_comment/" method="post">
        {% csrf_token %}
            <input type="hidden" name="comment_id" value={{c.id}}>
            <button type="submit" class="btn">Edit</button>
            </form>
        </div>
       {% else %}
       <br>
       {% endif %}
    </div>
    {% endfor %}
{% else %}
    <p>No comments are available.</p>
{% endif %}
    <div id="submit_comment">
        <form class="form-horizontal" name="LoginForm" action="/RedditApp/comment/" method="post">
        {% csrf_token %}

        <div class="comment_holder">
          <textarea name="text" cols="60" rows="8" placeholder="Enter your comment here" class="comment_holder"></textarea>
        </div>
        <input type="hidden" name="post_id" value={{post.id}}>
        <button type="submit" class="btn_custom">Submit</button>

        </form>
    </div>
</div>
{% endblock %}
