{% extends 'base.html' %}

{% block main %}
{% load markdown_deux_tags %}

<h2>Searched items for: {{searchtext}}</h2>
{% if result_list %}
    {% for p in result_list %}
    {% if p.post_body %}
        <div class="flpost">
        <div class="postname">
            <p class="postname-content">
                <a href="/RedditApp/posts/{{ p.id }}/">{{ p.post_heading | markdown }}</a>
            </p>
        </div>

       {% if p.author = user %}
        <div id="edit_post">
               
              <form class="form-horizontal" name="LoginForm" action="/RedditApp/edit_post/" method="post">
              {% csrf_token %}
              <input type="hidden" name="post_id" value={{post.id}}>
              <button type="submit" class="btn">Edit</button>
              </form>
       </div>  
       {% endif %}     



        <div class="subtitle">
            <p class="postdetails">
                Author:{{p.author.get_username}}&nbsp;&nbsp;&nbsp;Published: {{p.pub_date}}&nbsp;&nbsp;&nbsp;Votes:{{p.post_votes}}&nbsp;&nbsp;&nbsp;
                <a href="/RedditApp/posts/{{ p.id }}/">comments({{p.comment_set.count}})</a>
            </p>
        </div>
    </div>

    {% else %}
    <div class="post_descrip">
        <p class="username">{{p.author.get_username}}: &nbsp;&nbsp;&nbsp;&nbsp; Votes: {{p.comment_votes}} &nbsp;&nbsp;&nbsp;in&nbsp;&nbsp;<a href="/RedditApp/posts/{{p.post_id}}">post_{{p.post_id}}</a></p>

        <div id="upvote_post" class="vote">
        <form id="upvote_comment" class="vote" name="LoginForm" action="/RedditApp/upvote_comment/" method="post">
        {% csrf_token %}
        <input type="hidden" name="comment_id" value={{p.id}}>
        <button type="submit" class="btn">Upvote</button>
        </form>
        </div>
        <div id="downvote_post" class="vote">
        <form id="downvote_post" class="vote" name="LoginForm" action="/RedditApp/downvote_comment/" method="post">
        {% csrf_token %}
        <input type="hidden" name="comment_id" value={{p.id}}>
        <button type="submit" class="btn">Downvote</button>
        </form>
        </div>
        <p class="postcomment">{{p.comment_body|markdown}}</p>
        {% if p.author = user %}
        <div id="edit_comment">
            <form class="form-horizontal" name="LoginForm" action="/RedditApp/edit_comment/" method="post">
        {% csrf_token %}
            <input type="hidden" name="comment_id" value={{p.id}}>
            <button type="submit" class="btn">Edit</button>
            </form>
        </div>
       {% else %}
       <br>
       {% endif %}
    </div>

    {% endif %}
    {% endfor %}
{% else %}
    <p>No matching results found</p>
{% endif %}
{% endblock %}
