{% extends 'base.html' %}

{% block main %}
    <div id="login" class="login-page">
    <div class="form">
        <form class="login-form" name="LoginForm" action="RedditApp/signup/" method="post">
        {% csrf_token %}
        <div>
            <label for="username">Username</label>
            <div>
                <input type="text" id="username" name="username"  placeholder="Username">
            </div><div class="error">{{username_error}}</div>
        </div>
        <div>
            <label for="password">Password</label>
            <div>
                <input type="password" name="password1" id="password" placeholder="Password">
                </div><div class="error">{{pass_error}}</div>
        </div>
        <div>
            <label for="password">Password</label>
            <div>
                <input type="password" name="password2" id="password" placeholder="Confirm Password">
                </div><div class="error">{{pass2_error}}</div>
        </div>

        <div>
            <label for="email">E-mail</label>
            <div>
                <input type="email" name="email" id="email" placeholder="E-mail">
                </div><div class="error">{{email_error}}</div>
        </div>

        <div>
            <div class="controls">
                <button type="submit" class="btn">Sign Up</button>
            </div>
        </div>

        <p class="message">Already have an account? <a href="/RedditApp/login">Login</a></p>
        </form>
        </div>
    </div>

<br>
{% endblock %}
