{% extends 'base.html' %}

{% block main %}
    <div id="submit_comment" class="submit_form">
        <h2>Create New Thread</h2>
        <form class="form-horizontal" name="LoginForm" action="RedditApp/submit" method="post">
        {% csrf_token %}
           Post heading
        <div >
          <textarea name="title" cols="60" rows="5" placeholder="Enter the title of the post here"></textarea>
        </div>
        <br>
        Body of the post
        <div class="text">
          <textarea name="text" cols="60" rows="8" placeholder="Enter the description of the post here"></textarea>
        </div>

        <button type="submit" class="btn_custom">Create post</button>

        </form>
    </div>
{% endblock %}