{% block main %}
    <div id="submit">
        <form class="form-horizontal" name="LoginForm" action="RedditApp/submit" method="post">
        {% csrf_token %}

        <div class="url">
          <textarea name="url" cols="60" rows="1" placeholder="url"></textarea>
        </div>
        <br>
        <div class="title">
          <textarea name="title" cols="60" rows="1" placeholder="title"></textarea>
        </div>
        <br>
        <div class="text">
          <textarea name="text" cols="60" rows="8" placeholder="text"></textarea>
        </div>

        <button type="submit" class="btn">Submit</button>

        </form>
    </div>
{% endblock %}