@import url(https://fonts.googleapis.com/css?family=Roboto:300);
body {
  margin:0;
  border:0;
  background-color: #f2f2f2;
}
/*header*/
ul.header_bar{
	top: 0;
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}
ul.header_bar li{
	float:left;
}
ul.header_bar li.dropdown{
	float:right!important;
}
ul.header_bar li a, .dropbtn{
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;

}
ul.header_bar li a:hover:not(.active) {
    background-color: #111;
}
.title {
    background-color: #4CAF50;
}


.dropdown {
	display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/*header*/

/*Login and Sign Up*/
.login-page {
  width: 100%;
  height: 740px;
  padding: 8% 0 0;
  margin: 0;
  border: 0;
  background-color: #f1f1f1;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 18px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;

}
.form .message a:hover {
  color: blue;
  text-decoration: none;
  
}

.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}

.message{

	text-align: center;

}

.login-page .form .login-form .Usernamelabel{

	text-align: left;
	font-size: 30px;
}
/*Index Page Posts*/

div.flpost{
	width: 85%;
    border: 1px solid lightblue;
    padding-left: 1%;
    background-color: white; 
    margin-right: auto;
    margin-left: auto;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 10px;
    padding-bottom: 1%;
    font-family: "proxima-nova","Source Sans Pro","Helvetica Neue",
   Arial,Helvetica,sans-serif;
}
div.postname a{
  text-decoration: none;
	font-size: 130%;
  color:;
  font-family: "Lucia Grande",Verdana,sans-serif;
}
div.postname a:hover{
  text-decoration: underline;
}
div.postname a:visited{
  color: #777;
}
div.subtitle{
	font-size: 70%;
}
div.subtitle p.postdetails{
  font-family: "proxima-nova","Source Sans Pro","Helvetica Neue",
  Arial,Helvetica,sans-serif;
  font-size: 14px;
  color: blue;
}
div.postname p.postname-content a{
  font-family: "proxima-nova","Source Sans Pro","Helvetica Neue",
  Arial,Helvetica,sans-serif;
	font-weight: bold;
	text-decoration: none;
	color: black;
}
/* Post.Html Styling and page editiong*/
div.sub_post{
  font-family: "proxima-nova","Source Sans Pro","Helvetica Neue",
  Arial,Helvetica,sans-serif;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0px;
}

div.post_descrip{
  font-family: "proxima-nova","Source Sans Pro","Helvetica Neue",
  Arial,Helvetica,sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
  width: 80%;
  border: 1px solid lightblue;
  padding-left: 1%;
  background-color: white; 
  margin-right: auto;
  margin-left: auto;
  margin-top: 3px;
  margin-bottom: 3px;
  border-radius: 10px;
}
div.post_descrip h4{
  margin-bottom: 0px;
  padding: 0px;
}
div.post_descrip p.post_descrip{
  margin-bottom: 7px;
  padding: 0px;
}
.btn{
  background:none!important;
  border:none; 
  padding:0!important;
  font: inherit;
  color: blue;
  font-size: 60%; 
  cursor: pointer;
  margin-top: 0px;
  margin-bottom: 0px;
}
div.edit_post{
  margin: 0px;
  padding: 0px;
}

.username{
  color: blue;
  margin-top: 2px;
  margin-bottom: 0px;
  font-size: 80%;
}
.postcomment{
  margin-top: -20px;
  text-indent: 30px;
  margin-bottom: 0px;
  padding-bottom: 7px;
}

h4.comment_heading{
  padding-left: 7.5%;
}

#submit_comment{
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}
textarea.comment_holder{
  width: 100%;
  height: 60px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid lightblue;
  box-sizing: border-box;
  -webkit-transition: height 0.1s ease-in-out;
  transition: height 0.1s ease-in-out;
}
textarea.comment_holder:focus{
  height: 100px;
}
.error{
    font-size:10px;
    font-family:'Arial';
    color:red;
    margin-top: -30px;
    margin-bottom: 30px;
}

textarea.edit_comment{
  margin-right: 20px;
  width: 100%;
  height: 60px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid lightblue;
  box-sizing: border-box;
  -webkit-transition: height 0.1s ease-in-out;
  transition: height 0.1s ease-in-out;
}
.btn_custom{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    top: 18px;
    position: relative;
}
.submit_form{
  margin: 50px; 
}
h2{
  font-family: "proxima-nova","Source Sans Pro","Helvetica Neue",
  Arial,Helvetica,sans-serif;
  color: #333;
}
.vote{
  display: inline-block;
  font-family: "proxima-nova","Source Sans Pro","Helvetica Neue",
  Arial,Helvetica,sans-serif;
  font-size: 25px;
  margin-bottom: -30px
}
#downvote_post .btn{
  color:red;
}
#upvote_post .btn{
  color:green;
}

.dropdown#box{

}
.search_bar{
  position: relative;
  top: 10px;
}

#search{
  border: none;
  height: 30px;
  font-size: 10pt;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.search_bar input#search::-webkit-input-placeholder {
   color: #65737e;
}
 
.search_bar input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
 
.search_bar input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
 
.search_bar input#search:-ms-input-placeholder {  
   color: #65737e;  
}
